@charset "UTF-8";
.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}
.header__logo-link {
  color: inherit;
  font-weight: 800;
  font-size: 34.0578px;
  line-height: 109.5%;
  background: linear-gradient(261.69deg, #FF6432 12.12%, #FFA228 86.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  opacity: 1;
  transition: all 0.5s;
}
.header__logo-link:hover {
  opacity: 0.5;
  transition: all 0.5s;
}
.header__list {
  display: flex;
  padding-top: 25px;
}
.header__item {
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__item .header__name:hover {
  transition: all 0.5s;
  color: #FF6432;
}
.header__item .header__name:hover .header__role {
  transition: all 0.3s;
  background-color: #FF6432;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}
.header__item-burger .header__name:hover {
  transition: all 0.5s;
  color: #FF6432;
}
.header__item:nth-child(4) {
  padding-right: 0px;
}
.header__name {
  color: inherit;
  font-weight: 400;
  font-size: 17.8805px;
  line-height: 109.5%;
  color: #A3A3A3;
  transition: all 0.5s;
}
.header__role {
  margin-top: 17px;
  border-radius: 50px;
  width: 6px;
  height: 6px;
  background-color: #210A01;
}
.header__basket-and-log {
  display: flex;
  align-items: center;
}
.header__log-in {
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  border-radius: 700px 675px 700px 700px;
  transition: all 0.5s ease-out;
  z-index: 10;
}
.header__log-in:hover {
  opacity: 0.3;
  transition: all 0.5s ease-out;
}
.header__log-in a:hover {
  transition: all 0.5s ease-out;
  color: #000;
}
.header__log-link {
  display: block;
  padding: 10px 56px;
  color: inherit;
  font-weight: 500;
  font-size: 17.74px;
  line-height: 109.5%;
  color: #FFFFFF;
}
.header__basket {
  background: linear-gradient(261.69deg, #FF6432 12.12%, #FFA228 86.72%);
  border-radius: 700px;
  margin-left: 26px;
  z-index: 3;
}
.header__basket:hover {
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #ffcd8c 86.72%);
  transition: all 1s ease-out;
}
.header__basket:hover .header__basket-link {
  filter: invert(0.5);
}
.header__basket-link {
  padding: 6px;
}

.header__burger:hover {
  transition: all 0.5s;
  opacity: 0.5;
}

.header__nav-burger {
  position: fixed;
  top: -1400px;
  right: 0px;
  z-index: 5;
  width: 100%;
  height: 100vh;
  background-color: rgba(46, 46, 46, 0.9);
  transition: all 1s;
}

.header__list-burger {
  text-align: center;
}

.header__item-burger {
  padding-top: 50px;
}
.header__item-burger .header__name {
  color: rgb(255, 255, 255);
}

.top {
  top: 0;
}

.main__block {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.main__title-block {
  padding-top: 121px;
}
.main__title-text {
  font-weight: 800;
  font-size: 69.1697px;
  line-height: 109.5%;
  color: #FFFFFF;
}
.main__title-img-vector {
  padding-top: 30px;
}
.main__title-img {
  padding: 0 10px;
}
.main__subtext {
  font-weight: 400;
  font-size: 19.5621px;
  line-height: 30px;
  color: #A3A3A3;
  padding-top: 23px;
}
.main__subtext span {
  color: #FFFFFF;
}
.main__video-block {
  padding-top: 12px;
}
.main__video {
  margin-left: -30px;
}
.main__toggle-cont {
  position: relative;
  top: 0;
  display: flex;
}
.main__toggle-block {
  margin-top: 58.5px;
  display: flex;
  align-items: center;
  border: 1px solid #FFA631;
  border-radius: 100px;
  position: relative;
  top: 0;
}
.main__toggle-order {
  font-weight: 500;
  font-size: 22.4388px;
  line-height: 123.5%;
  color: #FFFFFF;
  transition: all 0.3s;
  border-radius: 100px;
  padding: 17px 72px;
  z-index: 4;
  cursor: pointer;
}
.main__toggle-order:hover {
  opacity: 0.5;
}
.main__toggle-menu {
  cursor: pointer;
  font-weight: 500;
  font-size: 18.8053px;
  line-height: 123.5%;
  transition: all 0.3s;
  padding: 20px 35px 19px 19px;
  border-radius: 100px;
  color: #FE9C1C;
  z-index: 4;
}
.main__toggle-menu:hover {
  opacity: 0.5;
}
.main__toggle-backgroud {
  position: absolute;
  top: 0;
  left: 0;
  width: 229.93px;
  height: 62px;
  background: linear-gradient(261.48deg, #FE9C1C -17.13%, #FF5E2A 86.76%);
  border-radius: 100px;
  transition: all 0.7s;
}
.main__toggle-menu-hover .main__toggle-order {
  color: #FE9C1C;
  transition: all 0.3s;
}
.main__toggle-menu-hover .main__toggle-backgroud {
  transition: all 0.7s;
  left: 211px;
  width: 180px;
}
.main__toggle-menu-hover .main__toggle-menu {
  color: #FFFFFF;
  transition: all 0.3s;
}
.main__img-link {
  position: relative;
  top: 0;
}
.main__toggle-img {
  position: absolute;
  bottom: -109px;
  right: -61px;
}
.main__img-fone {
  padding-top: 30px;
  margin-right: -30px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__img-top {
  position: absolute;
  top: -74px;
  right: -125px;
}
.main__img-bottom {
  position: absolute;
  bottom: -72px;
  left: -138px;
}
.main__text-pizza1 {
  position: absolute;
  top: 64px;
  left: 58px;
  z-index: -1;
}
.main__text-pizza2 {
  position: absolute;
  top: -49px;
  right: -137px;
  z-index: -1;
}
.main__text-pizza3 {
  position: absolute;
  bottom: 14px;
  right: 147px;
  z-index: -1;
}

iframe {
  border-radius: 23px;
}

.main__events-block {
  max-width: 1253px;
  position: relative;
  top: 0;
  left: 0;
  padding-right: 10px;
  overflow: scroll;
}
.main__events-block::-webkit-scrollbar {
  width: 0px;
}
.main__events-grid-block {
  display: grid;
  grid-template-rows: 260px 260px 260px;
  grid-template-columns: 1fr 1fr 201px 1fr 1fr 1fr;
  gap: 23px;
  grid-template-areas: "a a b b c c" "d d d e e e" "f f g g h h";
}
.main__events-grid-block > div {
  border-radius: 30px;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main__events-img {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
.main__events-text {
  position: relative;
  z-index: 3;
  padding-left: 25px;
  font-weight: 500;
  font-size: 25.0926px;
  line-height: 108.5%;
  color: #FFFFFF;
  padding-top: 50px;
}
.main__events-button {
  position: relative;
  z-index: 3;
  padding-left: 25px;
  transition: all 0.5s;
}
.main__events-button:hover {
  opacity: 0.5;
  transition: all 0.5s;
}
.main__events-button:hover .main__events-more {
  opacity: 1;
}
.main__events-more {
  padding: 11px 84px;
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  border-radius: 32px;
  font-weight: 500;
  font-size: 15.3846px;
  line-height: 108.5%;
  color: #FFFFFF;
  cursor: pointer;
}
.main__events-item-how-we {
  grid-area: a;
}
.main__events-item-our-blog {
  grid-area: b;
}
.main__events-item-events {
  grid-area: c;
}
.main__events-item-two-pizza {
  grid-area: d;
}
.main__events-item-kithen {
  grid-area: e;
}
.main__events-item-free {
  grid-area: f;
}
.main__events-item-our {
  grid-area: g;
}
.main__events-item-where {
  grid-area: h;
}

.main__events-item-events {
  align-items: flex-end;
}
.main__events-text-nameblock {
  font-weight: 800;
  font-size: 69.1697px;
  line-height: 109.5%;
  color: #FFFFFF;
  padding-top: 104px;
}
.main__events-text-subnameblock {
  font-weight: 400;
  font-size: 18.5621px;
  line-height: 27px;
  text-align: right;
  color: #A3A3A3;
}

.main__hidden-block {
  display: none;
  text-align: right;
  padding-right: 17px;
}
.main__events-text-nameblock-hidden {
  font-weight: 800;
  font-size: 48px;
  line-height: 109.5%;
  color: #FFFFFF;
}
.main__events-text-subnameblock-hidden {
  font-weight: 400;
  font-size: 14px;
  line-height: 136%;
  color: #A3A3A3;
  padding-top: 28px;
  padding-bottom: 28px;
}

.main__menu-header {
  font-weight: 800;
  font-size: 69.1697px;
  line-height: 109.5%;
  color: #FFFFFF;
  padding-top: 147px;
  text-align: center;
}
.main__filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 -12px;
  padding-top: 49px;
}
.main__menu-item {
  font-weight: 500;
  font-size: 22px;
  line-height: 109.5%;
  color: #FFFFFF;
  background: #210A01;
  box-shadow: 0px 9px 40px rgba(189, 88, 16, 0.06);
  border-radius: 100px;
  padding: 19px 0px;
  width: 220px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  transition: all 1s;
}
.main__menu-item:hover {
  color: #FFFFFF;
  background-color: #FFA229;
  box-shadow: 0px 9px 40px rgba(255, 107, 0, 0.06);
  border-radius: 100px;
  transition: all 1s;
}

.main__menu-select-pazza-block {
  padding-top: 111px;
}
.main__select-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 10px;
  position: relative;
  top: 0;
}
.main__pizza-item {
  background: #250b01;
  border-radius: 29.5312px;
  position: relative;
  top: 0;
  max-width: 297px;
  margin-bottom: 56px;
}
.main__pizza-popular {
  padding-top: 125px;
  padding-bottom: 117px;
  border-radius: 34px;
  font-weight: 500;
  font-size: 43.8638px;
  line-height: 108.5%;
  color: #FFFFFF;
  text-shadow: 0px 11.5905px 10.2269px rgba(14, 4, 4, 0.38);
  text-align: center;
  background: url(../img/Rectangle\ 13.png) 0 0 no-repeat;
  background-position: center;
  margin-top: 0px;
  margin-bottom: 112px;
  width: 100%;
}
.main__pizza-img {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main__pizza-name {
  font-weight: 500;
  font-size: 25.1018px;
  line-height: 109.5%;
  color: #FFFFFF;
  padding-top: 120px;
}
.main__pizza-description {
  font-weight: 400;
  font-size: 14.3197px;
  line-height: 109.5%;
  color: #A3A3A3;
  padding-top: 20px;
  padding-left: 27px;
  padding-right: 41px;
}
.main__pizza-select-size {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.main__select-size {
  border: 1.5px solid #A3A3A3;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3px;
  cursor: pointer;
}
.main__select-size:hover {
  background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
}
.main__select-size:active {
  background: #A3A3A3;
}
.main__pizza-ingridients {
  filter: drop-shadow(0px 7.59366px 33.7496px rgba(255, 107, 0, 0.06));
  border-radius: 84.374px;
  border: 1px solid #FFA229;
}
.main__ingridients-button {
  font-weight: 400;
  font-size: 16.0839px;
  line-height: 109.5%;
  transition: all 0.5s;
  background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding: 11px 52px;
}
.main__pizza-ingridients:hover {
  opacity: 0.5;
  transition: all 0.5s;
}
.main__cash-and-number-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}
.main__price-block {
  position: relative;
  top: 0;
}
.main__price {
  font-weight: 500;
  font-size: 25.4553px;
  line-height: 109.5%;
  color: #FFFFFF;
}
.main__currency {
  font-weight: 700;
  font-size: 16.9702px;
  line-height: 109.5%;
  color: #FFFFFF;
  position: absolute;
  top: -5px;
}
.main__number-block {
  display: flex;
  align-items: center;
}
.main__number-minus {
  font-weight: 400;
  font-size: 17.6642px;
  line-height: 109.5%;
  color: #A3A3A3;
  border: 1px solid #A3A3A3;
  border-radius: 50px;
  width: 23px;
  height: 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  background-color: rgba(0, 0, 0, 0);
}
.main__number {
  font-weight: 400;
  font-size: 22.8198px;
  line-height: 109.5%;
  color: #A3A3A3;
  padding: 0 13px;
  padding-top: 5px;
}
.main__number-plus {
  font-weight: 400;
  font-size: 17.6642px;
  line-height: 109.5%;
  color: #FFFFFF;
  width: 23px;
  height: 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
  border-radius: 50px;
}
.main__order-button {
  padding-top: 20px;
  padding-bottom: 23px;
}
.main__order-now {
  font-weight: 500;
  font-size: 17.451px;
  line-height: 109.5%;
  color: #FFFFFF;
  padding: 15px 48px;
  background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
  box-shadow: 0px 7.59366px 33.7496px rgba(255, 107, 0, 0.06);
  border-radius: 84.374px;
  transition: all 0.5s;
}
.main__order-now:hover {
  opacity: 0.5;
}

.conteiner-pizza-item {
  max-width: 194px;
  margin: 0 auto;
}

.main__pizza-ingridients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.main__ingridients {
  padding: 5px;
  border: 1px solid #FF5924;
  border-radius: 5px;
  cursor: pointer;
}
.main__ingridients:hover {
  background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
  box-shadow: 0px 7.59366px 33.7496px rgba(255, 107, 0, 0.06);
}

.focus {
  background-color: #210A01;
  border-radius: 10px;
}

.color-back-filter {
  background: #FF5924;
}

.main__about-block {
  padding-top: 113px;
  display: flex;
  justify-content: space-between;
}
.main__about-left-block {
  max-width: 500px;
}
.main__about-title {
  font-weight: 800;
  font-size: 69.1697px;
  line-height: 109.5%;
  color: #FFFFFF;
}
.main__about-text {
  font-weight: 400;
  font-size: 19.5621px;
  line-height: 27px;
  color: #A3A3A3;
}
.main__about-img-left {
  padding-bottom: 22px;
}
.main__about-img-link {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__about-img-block {
  position: relative;
  top: 0;
}
.main__about-img-fone {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__about-img-pizza {
  position: absolute;
  top: -95px;
  right: -67px;
}
.main__about-img-free {
  position: absolute;
  bottom: -32px;
  left: -64px;
}

.footer {
  background: linear-gradient(245.71deg, #170A00 4.96%, #170600 33.7%, #0F0700 68.41%, #170A00 96.42%);
}
.footer__block {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 84px;
  padding-top: 70px;
}
.footer__nav-item {
  display: flex;
  gap: 84px;
}
.footer__item {
  font-weight: 400;
  font-size: 19.6259px;
  line-height: 125.68%;
  letter-spacing: -0.02em;
  color: #A3A3A3;
}
.footer__link {
  padding: 6px 0;
  font-weight: 400;
  font-size: 17.7249px;
  line-height: 125.68%;
  letter-spacing: -0.02em;
  color: #515151;
  cursor: pointer;
}
.footer__link:hover {
  color: #A3A3A3;
}
.footer__link-href {
  color: inherit;
  font-weight: 400;
  font-size: 17.7249px;
  line-height: 125.68%;
  letter-spacing: -0.02em;
  color: #515151;
}
.footer__link-href:hover {
  color: #A3A3A3;
}
.footer__link:first-child {
  padding-top: 19px;
}
.footer__bottom-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 65px;
}
.footer__block-number {
  font-weight: 400;
  font-size: 20.881px;
  line-height: 125.68%;
  letter-spacing: -0.02em;
  background: linear-gradient(261.69deg, #FF612E 12.12%, #FFA32B 86.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
@font-face {
  font-family: "Muller";
  src: local("Muller"), url("..//fonts/Muller-ExtraBold.ttf") format("truetype"), url("..//fonts/Muller-ExtraBold.eot?#iefix") format("embedded-opentype"), url("..//fonts/Muller-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: local("Muller"), url("../fonts/Muller-Regular.ttf") format("truetype"), url("../fonts/Muller-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: local("Muller"), url("../fonts/Muller-Black.ttf") format("truetype"), url("../fonts/Muller-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: local("Muller"), url("../fonts/Muller-Bold.ttf") format("truetype"), url("../fonts/Muller-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Muller";
  font-weight: 500;
  background-color: #210A01;
  color: white;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  max-width: 1512px;
  margin: 0 auto;
  overflow: scroll;
}

.wrapper::-webkit-scrollbar {
  width: 0px;
}

.container {
  max-width: 1253px;
  margin: 0 auto;
  padding: 0 10px;
}

.none {
  display: none;
}

.opas {
  opacity: 1;
  -webkit-animation-name: opasityelement;
          animation-name: opasityelement;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes opasityelement {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    height: 50%;
    width: 50%;
  }
  100% {
    opacity: 0;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    order: -1;
  }
}

@keyframes opasityelement {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    height: 50%;
    width: 50%;
  }
  100% {
    opacity: 0;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    order: -1;
  }
}
/* --------------------------------------------модальный блок */
.main__modal-block {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(92, 92, 92, 0.8);
}
.main__modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main__modal-container {
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: rgba(61, 0, 0, 0.9);
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.main__modal-header {
  background-color: #FF5D29;
  padding: 20px 0;
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 10px;
  width: 500px;
  text-transform: uppercase;
  font-weight: 700;
}
.main__modal-input {
  text-align: center;
  padding: 20px 0;
}
.main__modal-button {
  text-align: center;
  padding-bottom: 20px;
}
.main__modal-button-link {
  padding: 10px;
  border-radius: 10px;
  width: 75px;
  background-color: #FF5D29;
  color: #FFFFFF;
  transition: all 0.5s;
}
.main__modal-button-link-close {
  padding: 10px;
  border-radius: 10px;
  width: 75px;
  background-color: #FF5D29;
  color: #FFFFFF;
  transition: all 0.5s;
}
.main__modal-button-link-close:hover {
  background-color: rgb(61, 0, 0);
  transition: all 0.5s;
}
.main__modal-button-link:hover {
  background-color: rgb(61, 0, 0);
  transition: all 0.5s;
}

input {
  border-radius: 10px;
  padding: 5px;
  margin: 10px 0;
}

.color_button {
  background-color: #FF5D29;
}

/* -----------------------------------адаптив-------------------------- */
@media (max-width: 1122px) {
  .main__text-pizza2,
.main__text-pizza3,
.main__title-img-vector,
.main__toggle-img {
    display: none;
  }
  .main__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__img-top {
    left: 60%;
  }
  .main__img-block {
    order: -1;
  }
}
@media (max-width: 922px) {
  .header__item {
    padding-right: 20px;
  }
  .main__events-text {
    font-size: 15.6229px;
  }
  .main__events-more {
    font-size: 9.57864px;
    padding: 6px 50px;
  }
  .main__about-img-free {
    display: none;
  }
  .main__about-img-pizza {
    display: none;
  }
  .main__about-block {
    flex-direction: column;
  }
  .main__about-right-block {
    order: -1;
  }
  .footer__block {
    gap: 44px;
  }
  .footer__nav-item {
    gap: 44px;
  }
}
@media (max-width: 720px) {
  .header__log-in,
.main__text-pizza1,
.header__item {
    display: none;
  }
  .header__burger {
    display: block;
    padding-left: 23px;
    transition: all 0.5s;
    padding-right: 20px;
  }
  .main__img-top,
.main__img-bottom {
    width: 30%;
  }
  .main__img-top {
    top: -5%;
  }
  .main__img-bottom {
    left: 15%;
    bottom: -8%;
  }
  .main__img-fone {
    width: 55%;
  }
  .main__img-link {
    text-align: center;
  }
  .main__title-text {
    font-size: 48px;
  }
  .main__title-block {
    padding-top: 56px;
  }
  .main__subtext {
    font-size: 14px;
    line-height: 151.5%;
  }
  iframe {
    width: 194px;
    height: 138px;
  }
  .main__toggle-order {
    font-size: 16.0122px;
    line-height: 123.5%;
    padding: 12px 72px;
  }
  .main__toggle-menu {
    font-size: 13.4193px;
    line-height: 123.5%;
    padding: 10px 35px 9px 19px;
  }
  .main__toggle-backgroud {
    width: 201.93px;
    height: 44px;
  }
  .main__toggle-menu-hover .main__toggle-backgroud {
    width: 146px;
    left: 190px;
  }
  .main__menu-header {
    font-size: 48px;
    padding-top: 70px;
  }
  .main__menu-item {
    font-size: 12.2296px;
    line-height: 109.5%;
    width: 140px;
    padding: 12px 0;
  }
  .main__menu-item:nth-child(2) {
    width: 70px;
  }
  .main__pizza-item {
    max-width: 181px;
  }
  .container {
    padding: 0 20px;
  }
  .main__pizza-link {
    width: 120px;
  }
  .main__filter-list {
    gap: 10px;
  }
  .main__pizza-name {
    font-size: 15.3492px;
    padding-top: 70px;
  }
  .main__pizza-description {
    font-size: 8.7562px;
  }
  .main__pizza-select-size {
    font-size: 8.7562px;
    justify-content: space-around;
  }
  .main__select-size {
    width: 25px;
    height: 25px;
  }
  .main__pizza-ingridients {
    max-width: 118px;
  }
  .main__ingridients-button {
    padding: 12px 13px;
    font-size: 9.835px;
  }
  .main__price,
.main__currency {
    font-size: 15.5654px;
  }
  .main__cash-and-number-block {
    justify-content: space-around;
  }
  .main__order-now {
    font-size: 10.6709px;
    line-height: 109.5%;
    padding: 9px 28px 7px 28px;
  }
  .main__pizza-popular {
    font-size: 26.8218px;
    line-height: 108.5%;
    padding: 74px 0;
  }
  .opas {
    display: none;
  }
  .container {
    padding: 0 10px;
  }
  .main__events-grid-block {
    grid-template-rows: 160px 160px 160px;
    grid-template-columns: 114px 114px 114px 114px 114px 114px;
    gap: 14px;
  }
  .main__events-item-events {
    visibility: hidden;
  }
  .main__hidden-block {
    display: block;
  }
  .main__about-title {
    font-size: 48px;
  }
  .main__about-text {
    font-size: 14px;
    line-height: 136%;
  }
  .footer__block {
    display: block;
  }
  .footer__nav-item {
    flex-wrap: wrap;
  }
  .footer__logo-block {
    padding-bottom: 58px;
  }
  .footer__item {
    font-size: 15.3469px;
  }
  .footer__link {
    font-size: 13.8604px;
  }
  .footer__block-number {
    font-size: 14.4561px;
  }
}
@media (max-width: 400px) {
  .main__pizza-item {
    max-width: 141px;
  }
  .main__toggle-block {
    display: none;
  }
  .main__menu-item {
    width: 100%;
  }
  .main__filter-list {
    margin: 0 10px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}