.header {

    // .header__block

    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 100px;
    }

    // .header__logo

    &__logo {
    }

    // .header__logo-link

    &__logo-link {
        color: inherit;
        font-weight: 800;
        font-size: 34.0578px;
        line-height: 109.5%;
        background: linear-gradient(261.69deg, #FF6432 12.12%, #FFA228 86.72%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        opacity: 1;
        transition: all 0.5s;
    }
    &__logo-link:hover{
        opacity: 0.5;
        transition: all 0.5s;
    }

    // .header__nav

    &__nav {
    }

    // .header__nav-block

    &__nav-block {
    }

    // .header__list

    &__list {
        display: flex;
        padding-top: 25px;
    }

    // .header__item
    &__item{
        padding-right: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__item{
        .header__name:hover{
            transition: all 0.5s;
            color: #FF6432;
            .header__role{
                transition: all 0.3s;
                background-color: #FF6432;
                text-align: center;
                margin: 0 auto;
                margin-top: 10px;
            }
        }
    }
    &__item-burger{
        .header__name:hover{
            transition: all 0.5s;
            color: #FF6432;
        }
    }
    &__item:nth-child(4){
        padding-right: 0px;
    }
    &__name{
        color: inherit;
        font-weight: 400;
        font-size: 17.8805px;
        line-height: 109.5%;
        color: #A3A3A3;
        transition: all 0.5s;
        
    }
    &__role{
        margin-top: 17px;
        border-radius: 50px;
        width: 6px;
        height: 6px;
        background-color: #210A01;
    }

    // .header__basket-and-log

    &__basket-and-log {
        display: flex;
        align-items: center;
    }

    // .header__log-in

    &__log-in {
        background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
        border-radius: 700px 675px 700px 700px;
        transition: all 0.5s ease-out;
        z-index: 10;
    }
    &__log-in:hover {
        opacity: 0.3;
        transition: all 0.5s ease-out;
    }
    &__log-in a:hover{
        transition: all 0.5s ease-out;
        color: #000;
    }

    // .header__log-link

    &__log-link {
        display: block;
        padding: 10px 56px;
        color: inherit;
        font-weight: 500;
        font-size: 17.74px;
        line-height: 109.5%;
        color: #FFFFFF;
    }

    // .header__basket

    &__basket {
        background: linear-gradient(261.69deg, #FF6432 12.12%, #FFA228 86.72%);
        border-radius: 700px;
        margin-left: 26px;
        z-index: 3;
    }
    &__basket:hover{
        background: linear-gradient(261.69deg, #FF5D29 12.12%, #ffcd8c 86.72%);
        transition: all 1s ease-out;
        .header__basket-link{
            filter: invert(0.5);
        }
    }

    // .header__basket-link

    &__basket-link {
        padding: 6px;
    }
}
.header__burger:hover{
    transition: all 0.5s;
    opacity: 0.5;
}

.header__nav-burger{
    position: fixed;
    top: -1400px;
    right: 0px;
    z-index: 5;
    width: 100%;
    height: 100vh;
    background-color: rgba(46, 46, 46, 0.9);
    transition: all 1s;
}
.header__list-burger{
    text-align: center;

}
.header__item-burger{
    padding-top: 50px;
    .header__name{
        color: rgb(255, 255, 255);
    }
}
.top{
    top: 0;
}