
@import '_header';
@import '_title';
@import '_events';
@import '_menu';
@import '_about';
@import '_footer';

@font-face {
    font-family: 'Muller';
    src: local('Muller'),
         url('..//fonts/Muller-ExtraBold.ttf') format('truetype'),
         url('..//fonts/Muller-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('..//fonts/Muller-ExtraBold.woff') format('woff'); 
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Muller';
    src: local('Muller'),
         url('../fonts/Muller-Regular.ttf') format('truetype'),
         url('../fonts/Muller-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Muller-Regular.woff') format('woff'); 
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Muller';
    src: local('Muller'),
         url('../fonts/Muller-Black.ttf') format('truetype'),
         url('../fonts/Muller-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Muller-Black.woff') format('woff'); 
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Muller';
    src: local('Muller'),
         url('../fonts/Muller-Bold.ttf') format('truetype'),
         url('../fonts/Muller-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Muller-Bold.woff') format('woff'); 
    font-weight: 700;
    font-style: normal;
}
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/*--------------------*/

body{
    font-family: 'Muller';
    font-weight: 500;
    background-color: #210A01;
    color: #ffff;
    -webkit-tap-highlight-color: transparent;
    
}

.wrapper {
    max-width: 1512px;
    margin: 0 auto;
    overflow: scroll;
    
}
.wrapper::-webkit-scrollbar{
    width: 0px;

}
.container {
    max-width: 1253px;
    margin: 0 auto;
    padding: 0 10px;
    
}

.none{
    display: none;
}
.opas{
    opacity: 1;
    animation-name: opasityelement;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}
@keyframes opasityelement{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
        height: 50%;
        width: 50%;
    }
    100%{
        opacity: 0;
        height: 0;
        width: 0;
        padding: 0;
        margin: 0;
        order: -1;
    }
}
/* --------------------------------------------модальный блок */
.main {

    // .main__modal-block

    &__modal-block {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(92, 92, 92, 80%);
    }

    // .main__modal

    &__modal {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    // .main__modal-container

    &__modal-container {
        border: 1px solid#000000;
        border-radius: 10px;
        background-color: rgb(61, 0, 0, 90%);
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    // .main__modal-header

    &__modal-header {
        background-color: #FF5D29;
        padding: 20px 0;
        color: rgb(255, 255, 255);
        text-align: center;
        border-radius: 10px;
        width: 500px;
        text-transform: uppercase;
        font-weight: 700;
    }

    // .main__modal-input

    &__modal-input {
        text-align: center;
        padding: 20px 0;
    }

    // .main__modal-input-text

    &__modal-input-text {
    }

    // .main__modal-button

    &__modal-button {
        text-align: center;
        padding-bottom: 20px;
    }

    // .main__modal-button-link

    &__modal-button-link {
        padding: 10px;
        border-radius: 10px;
        width: 75px;
        background-color: #FF5D29;
        color: #FFFFFF;
        transition: all 0.5s;
    }
    &__modal-button-link-close {
        padding: 10px;
        border-radius: 10px;
        width: 75px;
        background-color: #FF5D29;
        color: #FFFFFF;
        transition: all 0.5s;
    }
    &__modal-button-link-close:hover{
        background-color: rgb(61, 0, 0);
        transition: all 0.5s;
    }
    &__modal-button-link:hover{
        background-color: rgb(61, 0, 0);
        transition: all 0.5s;
    }
}
input{
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0 ;
}

.color_button{
    background-color: #FF5D29;
}
/* -----------------------------------адаптив-------------------------- */

@media (max-width: 1122px) {
    .main__text-pizza2,
    .main__text-pizza3,
    .main__title-img-vector,
    .main__toggle-img{
        display: none;
    }
    .main__block{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main__img-top{
        left: 60%;
    }
    .main__img-block{
        order: -1;
    }
  }

@media (max-width: 922px) {
    .header__item{
        padding-right: 20px;
    }
    .main__events-text{
        font-size: 15.6229px;
    }
    .main__events-more{
        font-size: 9.57864px;
        padding: 6px 50px;
    }
    .main__about-img-free{
        display: none;
    }
    .main__about-img-pizza{
        display: none;
    }
    .main__about-block{
        flex-direction: column;
    }
    .main__about-right-block{
        order: -1;
    }
    .footer__block{
        gap: 44px;
    }
    .footer__nav-item{
        gap: 44px;
    }
}
@media (max-width: 720px) {
    .header__log-in,
    .main__text-pizza1,
    .header__item{
        display: none;
    }
    .header__burger{
        display: block;
        padding-left: 23px;
        transition: all 0.5s;
        padding-right: 20px;
    }
    .main__img-top,
    .main__img-bottom{
        width: 30%;
    }
    .main__img-top{
        top: -5%;
        
    }
    .main__img-bottom{
        left: 15%;
        bottom: -8%;
    }
    .main__img-fone{
        width: 55%;
    }
    .main__img-link{
        text-align: center;
    }
    .main__title-text{
        font-size: 48px;
    }
    .main__title-block{
        padding-top: 56px;
    }
    .main__subtext{
        font-size: 14px;
        line-height: 151.5%;
    }
    iframe{
        width: 194px;
        height: 138px;
    }
    .main__toggle-order{
        font-size: 16.0122px;
        line-height: 123.5%;
        padding: 12px 72px;
    }
    .main__toggle-menu{
        font-size: 13.4193px;
        line-height: 123.5%;
        padding: 10px 35px 9px 19px;
    }
    .main__toggle-backgroud{
        width: 201.93px;
        height: 44px;
    }
    .main__toggle-menu-hover .main__toggle-backgroud{
        width: 146px;
        left: 190px;
    }
    .main__menu-header{
        font-size: 48px;
        padding-top: 70px;
    }
    .main__menu-item{
        font-size: 12.2296px;
        line-height: 109.5%;
        width: 140px;
        padding: 12px 0;
    }
    .main__menu-item:nth-child(2){
        width: 70px;
    }
    .main__pizza-item{
        max-width: 181px;
    }
    .container{
        padding: 0 20px;
    }
    .main__pizza-link{
        width: 120px;
    }
    .main__filter-list{
        gap: 10px;
    }
    .main__pizza-name{
        font-size: 15.3492px;
        padding-top: 70px;
    }
    .main__pizza-description{
        font-size: 8.7562px;
    }
    .main__pizza-select-size{
        font-size: 8.7562px;
        justify-content: space-around;
    }
    .main__select-size{
        width: 25px;
        height: 25px;
    }
    .main__pizza-ingridients{
        max-width: 118px;
    }
    .main__ingridients-button{
        padding: 12px 13px;
        font-size: 9.835px;
    }
    .main__price,
    .main__currency{
        font-size: 15.5654px;
    }
    .main__cash-and-number-block{
        justify-content: space-around;
    }
    .main__order-now{
        font-size: 10.6709px;
        line-height: 109.5%;
        padding: 9px 28px 7px 28px;
    }
    .main__pizza-popular{
        font-size: 26.8218px;
        line-height: 108.5%;
        padding: 74px 0;
    }
    .opas{
        display: none;
    }
    .container{
        padding: 0 10px;
    }
    .main__events-grid-block{
        grid-template-rows: 160px 160px 160px;
        grid-template-columns: 114px 114px 114px 114px 114px 114px;
        gap: 14px;
    }
    .main__events-item-events{
        visibility: hidden;
    }
    .main__hidden-block{
        display: block;
    }
    .main__about-title{
        font-size: 48px;
    }
    .main__about-text{
        font-size: 14px;
        line-height: 136%;
    }
    .footer__block{
        display: block;
        
    }
    .footer__nav-item{
        flex-wrap: wrap;
    }
    .footer__logo-block{
        padding-bottom: 58px;
    }
    .footer__item{
        font-size: 15.3469px;
    }
    .footer__link{
        font-size: 13.8604px;
    }
    .footer__block-number{
        font-size: 14.4561px;
    }
}
@media (max-width: 400px) {
    .main__pizza-item{
        max-width: 141px;
    }
    .main__toggle-block{
        display: none;
    }
    .main__menu-item{
        width: 100%;
    }
    .main__filter-list{
        margin: 0 10px;
    }
}
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}
